# <u><center> Data Structures

This notebook provides an introduction to the various types of data structures, its purpose in programming and the syntax used. The following topics will be covered.

[1. List](#1)

[2. Tuples](#2)

[3. Dictionaries](#3)

[4. Sets](#4)

<a name="1"></a>
#<u> Lists </u>


* Lists are the most versatile (adoptable, useful) of Python's
compound data types. A list contains items separated by
commas and enclosed within square brackets ([]).
* These are usually used to store multiple data
* The type of data in the list can be vary
* The items in the list are changable and duplicate values are allowed

In [ ]:
student = ['Sunil',25,6.5,40,'school lane Bambalapitiya',718106745]
numbers = [1,2.01,3,4.32,5,6.2,7.89]
print(student)
print(numbers)

['Sunil', 25, 6.5, 40, 'school lane Bambalapitiya', 718106745]
[1, 2.01, 3, 4.32, 5, 6.2, 7.89]


* Note that the above code is used to store data about a student and data of 
different data types is stored within the same list
* The name of the list is "student" and the data about that student is given enclosed with '[]' seperated by comas. This is the syntax of a python list
*  The second list consists of integers and floats

## Accessing elements
We can print all the elements in the list using the following command

In [ ]:
print(student)

['Sunil', 25, 6.5, 40, 'school lane Bambalapitiya', 718106745]

But if we want to access the information within the list individually we can do that by using indexes.
The elements in a list are indexed starting from 0,

*   Python provides a convenient way of taking parts of a list by
allowing us to denote a specific range of elements using the
colon symbol (:).
* There are multiple ways in which we can perform this
colon-based slicing operation.

In [ ]:
print("First element in the list:" ,student[0])

# To slice a sequence of elements from a specified index value to the end, use [Index:]
print("Elements from index 2 onwards:" ,student[2:])

#  To slice a sequence of elements from beginning to a range denoted by an index value, use [:Index]
print("Elements upto the 4th index:" ,student[:4])

# To slice a sequence of elements within a range, use [Start Index:End Index]
print("Elements from index 2 upto the 4th index:" ,student[2:4])

# To reverse the whole list with the use of slicing operation, use [::-1]
print("Reversing the list:" ,student[::-1])

First element in the list: Sunil
Elements from index 2 onwards: [6.5, 40, 'school lane Bambalapitiya', 718106745]
Elements upto the 4th index: ['Sunil', 25, 6.5, 40]
Elements from index 2 upto the 4th index: [6.5, 40]
Reversing the list: [718106745, 'school lane Bambalapitiya', 40, 6.5, 25, 'Sunil']

Note that when it is said upto the 4th index that the 4th index is not included.

Suppose that the student in the above list decided to change his phone number. We need to update the list. is can be done as follows,
We have to access the index with the phone number and change it to the new value.

In [ ]:
student[5] = 771233214
print(student)

['Sunil', 25, 6.5, 40, 'school lane Bambalapitiya', 771233214]

##Functions of lists
In this section we will dive into the functions of lists. First, we will define an empty list.

In [ ]:
arr = []
print(arr)
arr.append(1)
print(arr)
#arr.append(2,3,4)
for i in range(2,6):
  arr.append(i)
  print(arr)

[]
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

Python lists are dynamically sized. This means that it can grow and shrink after declaration. We can notice that the append method can be used to add an element to the tail. We cannot append multiple elements at once.

Now lets move on to how we can find the numuber of elements in a list. For that we can use the len() function.

In [ ]:
print("There are" ,len(arr),"elements in the list")

There are 5 elements in the list

If there are more that 2 lists we can use the concatenate to join these 2 lists together.

In [ ]:
a2 = [1,2.80,3,4.3,5]
a3 = [2.4,5.09,7.9,6.5]
print("a2:",a2,"a3:",a3)
a4 = a2+a3
print("a4:",a4)

a2: [1, 2.8, 3, 4.3, 5] a3: [2.4, 5.09, 7.9, 6.5]
a4: [1, 2.8, 3, 4.3, 5, 2.4, 5.09, 7.9, 6.5]

When the array is made up of numerical elements (floats, integers), we can use the max and the min functions to get the maximum and minimum within the list.

In [ ]:
print(a4)
print("The maximum value in the list:",max(a4),"\nThe minimum value in the list:",min(a4))

[1, 2.8, 3, 4.3, 5, 2.4, 5.09, 7.9, 6.5]
The maximum value in the list: 7.9
The minimum value in the list: 1

We can use the count() function to count the occourance of an object in a given list. Let us see an example of that.

In [ ]:
a5 = [1,1,2,3,4,4,4,5,6]
print("The number of occurences of 1 is:",a5.count(1))
print("The number of occurences of 4 is:",a5.count(4))

The number of occurances of 1 is: 2
The number of occurances of 4 is: 3

We can use the index function to get the index of elements in a list. Note that this will only return the index of the first occurance.

In [ ]:
print(a5)
print("The index of 2 is :",a5.index(2))

[1, 1, 2, 3, 4, 4, 4, 5, 6]
The index of 2 is : 2

Using the append method, we can only add elements to the tail of the list. But if we want to  add an element in a desired index of the list, we have to use the insert function. The syntax of the insert function is as follows.

The method can be called upon any referance of type list. The dot operator can be used to call the function. As the first parameter, we have to has the index that we need to insert the object to. As the second parameter, we have to insert the object.

list.(index,object)

In [ ]:
print("The original list:",a5)
a5.insert(0,-3)
print("The modified list:",a5)

The original list: [-3, -3, 1, 1, 2, 3, 4, 4, 4, 5, 6]
The modified list: [-3, -3, -3, 1, 1, 2, 3, 4, 4, 4, 5, 6]

We can use the remove function to remove objects from a list. Note that this will only remove the first occurance of an object and not the whole object altogether.

In [ ]:
print("The original list:",a5)
a5.remove(-3)
print("The modified list:",a5)

The original list: [-3, -3, 1, 1, 2, 3, 4, 4, 4, 5, 6]
The modified list: [-3, 1, 1, 2, 3, 4, 4, 4, 5, 6]

The elements in a list are ordered in the way of insertion and not in any random order. We can use the sort method to arrange the given elements in ascending order or we can use reverse method to reverse the list.

In [ ]:
a6=[1,9,-6,3,8,8,6,2]
print("The original list:",a6)
a6.reverse()
print("The reversed list:",a6)
a6.sort()
print("The list in ascending order",a6)
a6.reverse()
print("The list in descending order",a6)

The original list: [1, 9, -6, 3, 8, 8, 6, 2]
The reversed list: [2, 6, 8, 8, 3, -6, 9, 1]
The list in ascending order [-6, 1, 2, 3, 6, 8, 8, 9]
The list in descending order [9, 8, 8, 6, 3, 2, 1, -6]

We can use the 'in' function to check whether an element is present in a list.

In [ ]:
print("a6:",a6)
print("8 is in the list:",8 in a6)
print("0 is in the list:",0 in a6)

a6: [9, 8, 8, 6, 3, 2, 1, -6]
8 is in the list: True
0 is in the list: False

We can use this to iterate over a list.

In [ ]:
basket = ["oranges","apples","candy","pineapple","gum"]
for a in basket:
  print("The are",a,"in the basket")

The are oranges in the basket
The are apples in the basket
The are candy in the basket
The are pineapple in the basket
The are gum in the basket

We can also use lists to do calculations easily.

In [ ]:
sum = 0
marks = [90,80,88,65,78,98]
for x in marks:
  sum+=x
print("The total is :",sum)
print("The average is:",sum/len(marks))

The total is : 499
The average is: 83.16666666666667

If we want to iterate over a code block for unknown amount of times, we can use a combination of the range() function and the 'for' loop to achieve it. The range returns a list according to the parameters defined range (lower_bound, upper_bound, stepup/stepdown_value)

In [ ]:
print(range(10))
print("This is the first loop:  ",end ="")
for x in range(10): print(x,end=" ")
print()
print("This is the 2nd loop:  ",end ="")
for x in range(5,11): print(x,end=" ")
print()
print("This is the first loop:  ",end ="")
for x in range(2,11,2): print(x,end=" ")
print()
print("This is the first loop:  ",end ="")
for x in range(10,1,-1): print(x,end=" ")
print()
print("This is the first loop:  ",end ="")
for x in range(10,0,-2): print(x,end=" ")

range(0, 10)
This is the first loop:  0 1 2 3 4 5 6 7 8 9
This is the 2nd loop:  5 6 7 8 9 10
This is the first loop:  2 4 6 8 10
This is the first loop:  10 9 8 7 6 5 4 3 2
This is the first loop:  10 8 6 4 2

## Multi dimensional lists
Multi dimensional lists are an important part of programming. Suppose a table with rows and columns. The list that we have learned would not suffice to manipulate such data. For that a 2D list is used.

Consider the following example,
2 shops sell carrots and potatoes at different prices as bellow

Shop 1
*   carrot - 60
*   potato - 70


Shop 2
*   carrot - 55
*   potato - 75

Represent these in a 2D array and calculate the price of 1kg carrot and 1kg potato in each shop.

In [ ]:
shopList = [[60,90],[55,75]]
for x in shopList:
  print("The prices of vegetables in shop",shopList.index(x)+1,"is :",x)

print("------------------------------------------------")
for x in shopList:
  tot = 0
  for y in x:
    tot += y
  print("The sum of prices in shop",shopList.index(x)+1,"is :",tot)

The prices of vegetables in shop 1 is : [60, 90]
The prices of vegetables in shop 2 is : [55, 75]
------------------------------------------------
The sum of prices in shop 1 is : 150
The sum of prices in shop 2 is : 130

We can also use 3d arrays.Suppose an example of a 3,4,6 3D array whose each element is *

In [ ]:
list3d = [[ ['*' for col in range(6)] for col in range(4)] for row in range(3)]
print(list3d)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

<a name="2"></a>
#<u> Tuples </u>


*   Tuples are similar to lists. Howerver, once the values are assigned to a tuple , these cannot be modified during the run time
* Similar to lists , the values in the tuple can be accesed by their respectve indexes.


*   A tuple is defined by giving the values seperated by commas, enclosed with "()"
*   Duplicate items withn a lcould be present within a tuple.

In [1]:
month=('January','January','February','March','April','May','June','July','August','September','October','November',' December')
print("1:",month) #printing the whole tupple/Notice that the values can be duplcated
print("2:",month[0])
print("3:",month[1:3])
print("4:",month[2:])
print("5:",month*2)

1: ('January', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', ' December')
2: January
3: ('January', 'February')
4: ('February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', ' December')
5: ('January', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', ' December', 'January', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', ' December')

We can join 2 tuples as follows. A tupple can also contain elements of various data types.

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Now let us try to reassign the values to an already declared tuple.

In [2]:
fruits=("Apple","Oranges","Pineapple")
print("1:",fruits)
print("2:",fruits[0])
fruits[0] = "Mango" # we cannot assign the value

1: ('Apple', 'Oranges', 'Pineapple')
2: Apple

TypeError: ignored

We can also try to see whether an item exists within a trupple using an if condition

In [ ]:
fruits=("Apple","Oranges","Pineapple")
if "Banana" in fruits:
  print("Yes, 'Banana' is in the fruits tuple")
elif "Apple" in fruits:
  print("Yes, 'Apple' is in the fruits tuple")

Yes, 'Apple' is in the fruits tuple

## Updating values in a tuple


*   As mentioned earlier , we cannot update the values in a tuple. In other words , a tuple is immutable
*  However, a tuple can be converted to a list and vise versa


*   So we are able to convert the tuple into a list, perform all the operations needed and convert it back to a tuple.

In [3]:
fruits = ("apple", "banana", "cherry")
print("Before updating :",fruits)
y = list(fruits)
y[1] = "kiwi"
fruits = tuple(y)

print("After updating :",fruits)

Before updating : ('apple', 'banana', 'cherry')
After updating : ('apple', 'kiwi', 'cherry')

We cannot append values to a tupple but we can append to a list

In [4]:
fruits = ("apple", "banana", "cherry")
fruits.append("Kiwi")

AttributeError: ignored

In [5]:
fruits = ("apple", "banana", "cherry")
print("Before appending :",fruits)
y = list(fruits)

y.append("kiwi") #adding values to the list
y.append("Mango")

y.remove("apple") #removing the value from the list

fruits = tuple(y)

print("After appending :",fruits)

Before appending : ('apple', 'banana', 'cherry')
After appending : ('banana', 'cherry', 'kiwi', 'Mango')

## Accessing all the elements in a tupple

We can use a 'for' loop to access the elements individually

In [7]:
fruits = ("apple", "banana", "cherry","Banana","mango")
i = 0
for i in range(len(fruits)):
  print(fruits[i])
  ++i

print()
print("There are ",i," elements in the tuple")

apple
banana
cherry
Banana
mango

There are  4  elements in the tuple

## Functions of tuples

There are many functions related to tupples, but we will be talking about 
*   len()
*   count()
*   index()

len() function returns the number of elements in a tupple

In [8]:
fruits = ("apple", "banana", "cherry","Banana","mango")
print("The number of elements in the tupple :",len(fruits))

The number of elements in the tupple : 5

count() returns the number of times a specific value occurs within a tupple

In [9]:
fruits = ("apple", "banana", "cherry","apple","Banana","mango","apple")
print("The number of times apple occours in the tupple :", fruits.count("apple"))

The number of times apple occours in the tupple : 3

index() returns the first index of the specified element within the list.

In [10]:
fruits = ("apple", "banana", "cherry","apple","Banana","mango")
print("apple occurs at the index :", fruits.index("apple"))

apple occurs at the index : 0

<a name="3"></a>
#<u> Dictionary </u>


*   A dictionary is used to store values by the means of key value pairs
*   The key is used to access the value of the elements
*   Dictionaries are written withn curly braces with the first element as a key defined within " " and the value as the second element
*   Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.
*   Dictionaries are unordered, it means that the items does not have a defined order, you cannot refer to an item by using an index.
*  The keys in a dictionary cannot be duplicated

In [11]:
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(Car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Dictionary can have values of multiple data types. This includes String, int,float , boolean ,list and so on

In [12]:
Car = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(Car)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

## Accessing elements within a  dictionary

We can use the key to access elements in a dictionary

In [13]:
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "colors": ["red", "white", "blue"]

}
print("1",Car["model"])
print("2",Car.get("colors"))

1 Mustang
2 ['red', 'white', 'blue']

If we are in need of extracting all the keys within the dictionary, we can use the keys() method. Similarly, if we want to get the values in the dictionary, we can use the values() method.

In [ ]:
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "colors": ["red", "white", "blue"]

}
print(Car.keys())
print(Car.values())

dict_keys(['brand', 'model', 'year', 'colors'])
dict_values(['Ford', 'Mustang', 1964, ['red', 'white', 'blue']])

If we want to access the keys or the values individually, we can use a for loop to loop through the elements

In [ ]:
Cars = {
  "Car1": "Ford",
  "Car2": "Nissan",
  "Car3": "Suzuki",
  "Car4": "Mitsubishi",
  "Car5": "Tata",
}

print("This will give the keys within the dictionary")
print()

for x in Cars:
  print(x)

print()
print("This will give the values within the dictionary")
print()
for x in Cars:
  print(Cars[x])

print()
print("This will give the key,values pairs within the dictionary")
print()
for x in Cars:
  print("The brand of ",x,"is",Cars[x])

print()
print("Another way")
print()
for x,y in Cars.items():
  print("The brand of ",x,"is",y)

This will give the keys within the dictionary

Car1
Car2
Car3
Car4
Car5

This will give the values within the dictionary

Ford
Nissan
Suzuki
Mitsubishi
Tata

This will give the key,values pairs within the dictionary

The brand of  Car1 is Ford
The brand of  Car2 is Nissan
The brand of  Car3 is Suzuki
The brand of  Car4 is Mitsubishi
The brand of  Car5 is Tata

Another way

The brand of  Car1 is Ford
The brand of  Car2 is Nissan
The brand of  Car3 is Suzuki
The brand of  Car4 is Mitsubishi
The brand of  Car5 is Tata

## Updating elements in a dictionary


* There are 2 ways to update elements in a python dictionary


1.   Using the update method
2.   Accessing the element using the key and assigning the new value

In [14]:
Car1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print("---------------Using the key---------------")
print("Before updating:",Car1)
Car1["year"] = 2018
print("After updating:",Car1)

Car2 = {
  "brand": "Nissan",
  "model": "GTR - R32",
  "year": 2000
}
print()
print("---------------Using the update method---------------")
print("Before updating:",Car2)
Car2.update({"year": 2010})
print("After updating:",Car2)

---------------Using the key---------------
Before updating: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After updating: {'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

---------------Using the update method---------------
Before updating: {'brand': 'Nissan', 'model': 'GTR - R32', 'year': 2000}
After updating: {'brand': 'Nissan', 'model': 'GTR - R32', 'year': 2010}

## Adding items to a dictionary

*   This can also be done in 2 ways,


1.   Using the update method in dictionary
2.   By adding a new index key and assigning a value to it

In [15]:
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print("---------------Using the key---------------")
print("Before adding the color of the car:",Car)
Car["color"] = "red"
print("After adding the color of the car:",Car)

print()
print("---------------Using the update method---------------")
print("Before adding the mileage:",Car)
Car.update({"mileage": "10450km"})
print("After adding the mileage:",Car)

---------------Using the key---------------
Before adding the color of the car: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After adding the color of the car: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

---------------Using the update method---------------
Before adding the mileage: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
After adding the mileage: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red', 'mileage': '10450km'}

## Removing an item / Deleting the dictionary


*   There are 2 methods to delete an item from a python dictionay


1.   pop() method
2.   del

In [16]:
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "color":["Red","Blue"]
}
print("---------------Using the pop() method---------------")

print(Car)
Car.pop("year")
print(Car)

print()
print("---------------Using del---------------")
print(Car)
del Car["color"]
print(Car)

---------------Using the pop() method---------------
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': ['Red', 'Blue']}
{'brand': 'Ford', 'model': 'Mustang', 'color': ['Red', 'Blue']}

---------------Using del---------------
{'brand': 'Ford', 'model': 'Mustang', 'color': ['Red', 'Blue']}
{'brand': 'Ford', 'model': 'Mustang'}

We can also delete the whole dictionary using the del method

In [17]:
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "color":["Red","Blue"]
}
print(Car)
del Car
print(Car) # an error will occour since it is deleted

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': ['Red', 'Blue']}

NameError: ignored

## Nested dictionaries

*   As mentioned above ,all data types could be included as values of a dictionary
*  This includes dictionaries, enabling us to create nested dictionaries

In [18]:
Cars = {
  "Car1": {
          "brand": "Ford",
          "model": "Mustang",
          "year": 1964,
          "color":["Red","Blue"]
  },
  "Car2": {
          "brand": "Nissan",
          "model": "GTR",
          "year": 2000,
          "color":["Blue"]
  },
  "Car3":{
          "brand": "Missubishi",
          "model": "Evolution",
          "year": 2010,
          "color":["Black","Blue"]
  },

}

print("This prints the whole dictionary")
print()
print(Cars)

print()
print("This prints the details of the first car")
print(Cars["Car1"])

This prints the whole dictionary

{'Car1': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': ['Red', 'Blue']}, 'Car2': {'brand': 'Nissan', 'model': 'GTR', 'year': 2000, 'color': ['Blue']}, 'Car3': {'brand': 'Missubishi', 'model': 'Evolution', 'year': 2010, 'color': ['Black', 'Blue']}}

This prints the details of the first car
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': ['Red', 'Blue']}

<a name="4"></a>
#<u> Sets </u>


*   Set is the 4th data type that we will study to store data
*   These are un ordered(meaning that we cannot access using an index and that it doesnt keep the input order) and does not allow duplicate values
*   Sets are defined within 2 curley braces seperated by commas
* Sets are also immutable meaning that we cannot change the items after the set has been created.
*   But we can add or delete items and do operations on the set iteself

In [ ]:
 basket = {'apple', 'orange', 'apple', 'pear', 'orange','banana'}
print(basket) # notice that there is only one entry of each item

{'banana', 'orange', 'pear', 'apple'}

We can use a set to remove the duplicate elements from a list, using the set() function in python that builds a set using the inpuut

In [ ]:
list1 = ['apple','apple','orange']
set1 = set(list1)
print("The list with duplicate elements:",list1)
print("The set without duplicate elements:",set1)
list1 = list(set1)
print("The list without duplicate elements:",list1)

The list with duplicate elements: ['apple', 'apple', 'orange']
The set without duplicate elements: {'orange', 'apple'}
The list without duplicate elements: ['orange', 'apple']

## Adding elements to the set
We can use the add() method to add elements to a set

In [ ]:
fruits = {"apple", "banana", "cherry","apple"}
print("fruits before adding the new value:",fruits)
fruits.add("orange")
print("fruits after adding the new value:",fruits)

fruits before adding the new value: {'banana', 'cherry', 'apple'}
fruits after adding the new value: {'banana', 'orange', 'cherry', 'apple'}

We can also add elements that are already in a list or a set

In [19]:
fruits = {"apple", "cherry","apple"}
tropicalFruits = { "banana","pineapple"}
healthyFruits = ["papaya","dragonfruit"]

print("fruits before adding :",fruits)
fruits.update(tropicalFruits)
print("fruits after adding tropical fruits:",fruits)
fruits.update(healthyFruits)
print("fruits after adding healthy fruits:",fruits)

fruits before adding : {'cherry', 'apple'}
fruits after adding tropical fruits: {'cherry', 'pineapple', 'banana', 'apple'}
fruits after adding healthy fruits: {'banana', 'cherry', 'papaya', 'pineapple', 'apple', 'dragonfruit'}

## Removing / discarding elements
*   Removing and discarding achieves the common task of deleting a specific element.
*   However, the difference is, if you remove an element that does not exist within a set, it will throw a runtime exeption.
*   If you discard a non existing element from a set , there would be no effect.

In [ ]:
fruits = {"apple", "cherry","apple","banana","peach"}
print("fruits before deleting :",fruits)
fruits.remove("apple")
print("fruits after removing :",fruits)
fruits.discard("cherry")
print("fruits after discarding :",fruits)
fruits.discard("mango")
print("fruits after discarding a non existing element:",fruits)

fruits before deleting : {'banana', 'cherry', 'peach', 'apple'}
fruits after removing : {'banana', 'cherry', 'peach'}
fruits after discarding : {'banana', 'peach'}
fruits after discarding a non existing element: {'banana', 'peach'}

## Set operations


*  The possible operations on a set include,

1.   Set difference
2.   Difference update
1.   Intersection
2.   Union
1.   isDisjoint
2.   isSubset

### Set difference
difference()- this method returns the difference of two or more set as a
new set

In [ ]:
x={"a","b","c","d","e"}
y={"b","c"}
z={"c","d"}
a1 = x.difference(y)
print("x-y:",a1)
a2 = x.difference(y).difference(z)
print("x-y-z:",a2)

print("x:",x)

x-y: {'d', 'e', 'a'}
x-y-z: {'e', 'a'}
x: {'e', 'd', 'b', 'a', 'c'}

### Difference Update
The method difference_update removes all elements of another set
from this set.

In [ ]:
x={"a","b","c","d","e"}
y={"b","c"}
x.difference_update(y)
print("x-y:",a1)

print("x:",x)

x-y: {'d', 'e', 'a'}
x: {'e', 'd', 'a'}

### Intersection
intersection(s) : Returns the intersection of the instance set and the set s as a new set

In [ ]:
x={"a","b","c","d","e"}
y={"c","d","e","f","g"}

print("x.intersection(y):",x.intersection(y))
print("x & y:",x & y)

x.intersection(y): {'d', 'e', 'c'}
x & y {'d', 'e', 'c'}

### Union
Union(s) : Returns the union of the instance set and the set s as a new set

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print("A.union(B):",A.union(B))
print("A | B:",A | B)

A.union(B): {1, 2, 3, 4, 5, 6, 7, 8}
A | B: {1, 2, 3, 4, 5, 6, 7, 8}

### isDisjoint


*   This returns whether there is an intersection within 2 sets

In [ ]:
a={1,2,3}
b={4,5,6}
c={2}
print(a.isdisjoint(b))
print(a.isdisjoint(c))

True
False

### isSubset
This return whther one set is a subset of another or not

In [ ]:
x={1,2,3,4}
y={1,2,3,4,5,6,7,8,9}
print(x.issubset(y))

True